<div ng-controller='users_controller'>

	<div class='row top_bar'>
		<div class='col-md-1'>
		</div>
		<div class="col-lg-6 form-inline">
			<a href='#/home'><img src='static/icons/facebook_logo.png'></a>
	    <div class="input-group">
	    	<form>
		      <input id='search' type="text" class="form-control" ng-model='filter_name' placeholder="Search for..." ng-click='search_friends()'>
		      <span class="input-group-btn">
		        <input type='submit' class="btn btn-default" type="button" value='Search'>
		      </span>
		    </form>
	    </div>

	    <div class='search_filter container' ng-show='filter_name.length'>
	    	<p ng-repeat='friend in search_friends | filter:filter_name' ><a href='#/profile/{{friend.username}}'><img src='/static/images/{{friend.profile_pic}}'> {{friend.first_name}} {{friend.last_name}}</a></p>
	    </div>

	  </div>
	  <div class='col-md-5 top_bar_li'>
	  	<ul>
	  		<li class='visited_white'><a href='#/profile/{{logged_user.username}}' ng-click='get_profile()'>{{logged_user.first_name}}</a></li>
	  		<li class='visited_white'><a href='#/home'>Home</a></li>
	  		<li>
	  			<span class="glyphicon glyphicon-user glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-comment glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-globe glyphs" aria-hidden="true"></span>
	  		</li>
	  		<li>
	  			<div class="dropdown">
	  			  <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	  			    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
	  			  </a>
	  			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" ng-click='logoff()'>Log Off ({{logged_user.first_name}} {{logged_user.last_name}})</a></li>
	  			  </ul>
	  			</div>
	  		</li>
	  	</ul>
	  </div>
	</div>

	<div class='container'>
		<div class='row'>
			<div class='col-md-10'>
				<div class='wall_background_photo'>
					<div class='profile_pic' ng-show='logged_user.profile_pic'>
						<img src='/static/images/{{logged_user.profile_pic}}'>
					</div>
					<div class='wall_profile_photo' ng-show='!logged_user.profile_pic'>
					</div>
					<h3>{{logged_user.first_name}} {{logged_user.last_name}}</h3>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='container'>
				<div class='col-md-3'>
				</div>
				<div class='col-md-7 margin_top_50'>
				</div>
			</div>
		</div>
	</div>

	<div class='container'>
		<div class='col-md-10 edit_user'>
			<div class='edit_user_header'>
				<h3>Edit Profile</h3>
			</div>
		
			<div class='col-md-3 edit_user_left_side_bar'>
				<div class='row'>
					<h4><a href='#/profile/edit'><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>About</a></h4>
				</div>
				<div class='row'>
					<h4><a href='#/profile/edit/photo'>Change Profile Picture</a></h4>
				</div>
			</div>
			<div class='col-md-9 edit_user_content'>
				<div class='row margin_top_25 container'>
					<h4>Name: {{logged_user.first_name}} {{logged_user.last_name}}</h4>
					<h4 ng-show='!edit_email'>Email: {{logged_user.email}} <a href='#/profile/edit' ng-click='edit_email = !edit_email'>edit</a></h4>
					<h4 ng-show='edit_email'>Email: 
						<input type='text' ng-init="edit.email=logged_user.email" ng-model='edit.email'>
						<input type='submit' value='Submit' ng-click='edit_profile_email(edit); edit_email = !edit_email '>
						<a href="" ng-click='edit_email = !edit_email'>Cancel</a>
					</h4>
					<h4>Birthday: {{logged_user.birthday | date: longdate}}</h4>
					<h4 ng-show='!edit_username'>Username: {{logged_user.username}} <a href='#/profile/edit' ng-click='edit_username = !edit_username'>edit</a></h4>
					<h4 ng-show='edit_username'>Email: 
						<input type='text' ng-init="edit.username=logged_user.username" ng-model='edit.username'>
						<input type='submit' value='Submit' ng-click='edit_profile_username(edit); edit_username = !edit_username '>
						<a href="" ng-click='edit_username = !edit_username'>Cancel</a>
					</h4>
				</div>
			</div>

		</div>
	</div>

	
</div>