<div ng-controller='users_controller'>

	<div class='row top_bar'>
		<div class='col-md-1'>
		</div>
		<div class="col-lg-6 form-inline">
			<img src='static/icons/facebook_logo.png'>
	    <div class="input-group">
	    	<form>
		      <input id='search' type="text" class="form-control" ng-model='filter_name' placeholder="Search for..." ng-click='search_friends()'>
		      <span class="input-group-btn">
		        <input type='submit' class="btn btn-default" type="button" value='Search'>
		      </span>
		    </form>
	    </div>

	    <div class='search_filter container' ng-show='filter_name.length'>
	    	<p ng-repeat='friend in search_friends | filter:filter_name' ><a href='#/profile/{{friend.username}}'><img src='/static/images/{{friend.profile_pic}}'> {{friend.first_name}} {{friend.last_name}}</a></p>
	    </div>

	  </div>
	  <div class='col-md-5 top_bar_li'>
	  	<ul>
	  		<li class='visited_white'><a href='#/profile/{{logged_user.username}}' ng-click='get_profile()'>{{logged_user.first_name}}</a></li>
	  		<li class='visited_white'><a href='#/home'>Home</a></li>
	  		<li>
	  			<span class="glyphicon glyphicon-user glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-comment glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-globe glyphs" aria-hidden="true"></span>
	  		</li>
	  		<li>
	  			<div class="dropdown">
	  			  <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	  			    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
	  			  </a>
	  			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" ng-click='logoff()'>Log Off ({{logged_user.first_name}} {{logged_user.last_name}})</a></li>
	  			  </ul>
	  			</div>
	  		</li>
	  	</ul>
	  </div>
	</div>

	<div class='container'>
		<div class='row'>
			<div class='col-md-10'>
				<div class='wall_background_photo'>
					<div class='profile_pic' ng-show='profile.profile_pic'>
						<img src='/static/images/{{profile.profile_pic}}'>
					</div>
					<div class='wall_profile_photo' ng-show='!profile.profile_pic'>
					</div>
					<h3>{{profile.first_name}} {{profile.last_name}} <a class='add_friend_button btn' href="" ng-click='add_friend(profile)'>Add Friend</a></h3>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='container'>
				<div class='col-md-3'>
				</div>
				<div class='profile_menu_buttons col-md-7'>
					<ul>
						<li><a href='#'>Timeline</a></li>
						<li><a href='#/profile/about/{{profile.username}}'>About</a></li>
						<li><a href='#/profile/friends/{{profile.username}}'>Friends</a></li>
						<li><a href='#'>Photos</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='container'>
		<div class='row container'>
			<div class='col-md-10 friends_list'>
				<div class='friends_list_header container margin_top_10'>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h3>Friends</h3>
					<h5>All Friends</h5>
				</div>
				<div class='row friends_list_content margin_top_10'>
					<div class='friends col-md-5' ng-repeat='friend in profile.friend_list'>
						<div class='row'>
							<img src='/static/images/{{friend.friend_profile_pic}}'>
							<h4><a href='#/profile/{{friend.friend_username}}'>{{friend.friend_fullname}}</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>