<div ng-controller='users_controller'>

	<div class='row top_bar'>
		<div class='col-md-1'>
		</div>
		<div class="col-lg-6 form-inline">
			<img src='static/icons/facebook_logo.png'>
	    <div class="input-group">
	    	<form>
		      <input id='search' type="text" class="form-control" ng-model='filter_name' placeholder="Search for...">
		      <span class="input-group-btn">
		        <input type='submit' class="btn btn-default" type="button" value='Search'>
		      </span>
		    </form>
	    </div>

	    <div class='search_filter' ng-show='filter_name.length' >
	    	<p ng-repeat='friend in search_friends | filter:filter_name' ><a href='#/profile/{{friend.username}}'>{{friend.first_name}} {{friend.last_name}}</a></p>
	    </div>

	  </div>
	  <div class='col-md-5 top_bar_li'>
	  	<ul>
	  		<li class='visited_white'><a href='#/profile/{{logged_user[0].username}}'>{{logged_user[0].first_name}}</a></li>
	  		<li class='visited_white'><a href='#/home'>Home</a></li>
	  		<li>
	  			<span class="glyphicon glyphicon-user glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-comment glyphs" aria-hidden="true"></span>
	  			<span class="glyphicon glyphicon-globe glyphs" aria-hidden="true"></span>
	  		</li>
	  		<li>
	  			<div class="dropdown">
	  			  <a class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	  			    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
	  			  </a>
	  			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	  			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/" ng-click='logoff()'>Log Off</a></li>
	  			  </ul>
	  			</div>
	  		</li>
	  	</ul>
	  </div>
	</div>

	<!-- ============================body========================== -->
	<div class='container'>

		<div class='row margin_top_50'>

			<div class='col-md-3 profile_bar'>
				<div class='col-md-3'>
					<span class="glyphicon glyphicon-user user_glyph" aria-hidden="true"></span>
				</div>
				<div class='col-md-5 profile_bar_edit'>
					<p><strong><a href='#/profile/{{logged_user[0].username}}'>{{logged_user[0].first_name}} {{logged_user[0].last_name}}</a></strong></p>
					<p>Edit Profile</p>
				</div>
			</div>

			<div class='col-md-5 home_updates'>
				<div class='find_friends'>
					<h5><a href='#/search'>Find Friends</a></h5>
				</div>
			</div>

		</div>




	</div>



</div>


